<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>JavaScript</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para atualizar . . ."
      refreshingSpinner="circles" refreshingText="Atualizando. . .">

    </ion-refresher-content>
  </ion-refresher>

  <p>Pull this content down to trigger the refresh.</p>
</ion-content>
