<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>DateTime</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">datetime</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-datetime value="1980-10-09T15:00:00" locale="en-UE" readonly disabled></ion-datetime>
  <br>
  <ion-datetime min="2023-03-01" max="2023-05-31" minuteValues="0,15,30,45"></ion-datetime>
  <br>
  <ion-datetime presentation="time"></ion-datetime>

</ion-content>
