<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Button</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Button</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button size="small">Small</ion-button>
  <ion-button>Default</ion-button>
  <ion-button size="large">Large</ion-button>

  <br>

  <ion-button href="https://www.hackerrank.com/contato12araujo">HackerRank</ion-button>

  <br>

  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button>

  <br>

  <ion-button expand="full">Expand Full</ion-button>
  <ion-button expand="block" fill="outline">Expand Block</ion-button>
  <ion-button shape="round">Shape Round</ion-button>

  <br>

  <ion-button expand="full">
    <ion-icon slot="start" name="star"></ion-icon>
    Expand Full
  </ion-button>
  <ion-button expand="block" fill="outline">
    <ion-icon slot="end" name="star"></ion-icon>
    Expand Block
  </ion-button>
  <ion-button shape="round">
    <ion-icon slot="icon-only" name="star"></ion-icon>
  </ion-button>


</ion-content>
